.bg-newproject {
  background-image: url("./images/newprojectdetail.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-feature {
  background-image: url("./images/feature.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-task {
  background-image: url("./images/taskdetail.png");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-main {
  background-image: url("./images/mainbackgreyer.jpg");
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #e5e9ef;
  background-position: center;
  background-attachment: scroll;
  background-size: cover; 
  overflow: hidden;
  z-index: 0;
}

.box-height {
  height: 300px;
}

.image-height {
  height: 250px;
}

@media (min-width: 500px) {
  .box-height {
  height: 400px;
  }
  .image-height {
    height: 350px;
  }
}
