/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;

/* PROGRESS BAR */
.progress {
  @apply border-smoke-lighter bg-smoke-lightest shadow m-2 rounded-full;
} 
.span-progress {
  background-color: #55c348;
}
.progress > .span-progress {
  @apply block h-6 w-1/4 rounded-full;
}

.gradient > .span-progress {
  @apply shadow-inner;
}
/* END OF PROGRESS BAR */

.gone {
  position: absolute;
  top: -400px;
}
.slider {
	transition: .3s;
  transition-timing-function: linear;
/* }
  opacity: 1;
  transition: .74s ease; */
}

.team-viewer {
  transition: width .2s ease-in-out;
}

.image-position {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #e5e9ef;
  background-position: center;
  background-attachment: scroll;
  background-size: cover; 
  /* overflow: hidden; */
  z-index: 0;
}
.home-image {
  width: 100%;
  height: auto;
}

//BACKGROUND IMAGES

.bg-cityblock {
   background-image: url("./images/cityblock.jpg");
}
.bg-puppers {
  background-image: url("./images/puppers.jpg");
}
.bg-whitebrick {
  background-image: url("./images/whitewall.jpg");
}
.bg-books {
  background-image: url("./images/books.jpg");
}
.bg-desert {
  background-image: url("./images/desert.jpg");
}
.bg-coffee {
  background-image: url("./images/coffeemash.jpg");
}
.bg-flight {
  background-image: url("./images/flying.jpg");
}
.bg-pier {
  background-image: url("./images/pier.jpg");
}
.bg-decay {
  background-image: url("./images/messedupplane.jpg");
}
.bg-field {
  background-image: url("./images/field.jpg");
}
.bg-cityscape {
  background-image: url("./images/cityscape.jpg");
}

.bg-image-main {
  background-image: url("./images/cityblock.jpg");
  position: absolute;
  top: 20;
  left: 0;
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* filter: blur(2px); */
  overflow: hidden;
}
//END OF BACKGROUND IMAGES

 .input {
   @apply appearance-none bg-transparent border-none w-full text-grey-darker mr-3 py-1 px-2 leading-tight;
 }
 .input-underlined {
   @apply appearance-none bg-transparent text-grey-darker py-2 px-4 leading-tight border-b border-blue;
 }
 .input-signup {
   @apply appearance-none bg-transparent text-grey-darker border py-2 px-4 leading-tight m-4 border-grey rounded;
 }
 .jello {
   @apply tracking-wide font-josefin text-2xl;
 }
 .btn-white {
   @apply cursor-pointer text-sm font-josefin text-blue px-2;
 }

 .btn-reg {
   @apply text-white py-2 px-4 rounded;
 }

.loader {
  @apply border-t border-blue;
  border-right: solid 4px transparent;
  animation: spin 1s linear infinite;
}

 @keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

 /* .modal {
   @apply fixed pin-r pin-t w-full h-screen bg-grey-lighter opacity-0 invisible
 }

.modal-content {

} */

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

